@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f6f7f8;
}
.offcanvas-backdrop{
    background: #fff;
}
main{
    padding-top: 65px;
}
.logo_home{
    max-width: 200px;
}
.off-canvas .nav-link{
    font-size: 24px;
    font-weight: 700;
    line-height: 3rem;
    color: rgb(74 72 72 / 65%);
}
.off-canvas .nav-link:focus, .nav-link:hover{
    color: #333;
    transition: all 0.4s linear;
}
.top-header{
    padding-top: 80px;
    padding-bottom: 80px;
}
.top-header h1{
    font-size: 36px;
    color: #000;
    font-weight: 300;
}
.side-hoc-img{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}
.side-hoc-img img{
    transform: scale(1.1);
    transition: -webkit-transform 6000ms ease;
    transition: transform 6000ms ease;
    transition: transform 6000ms ease, -webkit-transform 6000ms ease;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.side-hoc-img img:hover {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
}
.side-hoc-img-cover{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    position: relative;
}
.side-hoc-img-cover::before{
    content: "";
    position: absolute;
    top: 70px;
    left: -70px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 30px solid rgba(0,0,0,.1);
}
.bdr-end-10{
    border-right: 10px solid #000;
}
.bdr-str-10{
    border-left: 10px solid #000;
}

.big-title-jumbo{
    font-size: 80px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 15px;
    border-left: 10px solid #fff;
}
.btn-dark{
    background-color: #000;
    border-radius: 6px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: all 0.4s linear;
}
.btn-dark:hover{
    background-color: #212121;
    box-shadow: 0 2px 6px rgba(0,0,0,0.10);
    transition: all 0.4s linear;
}
.py-20 {
    padding-bottom: 9.5rem!important;
    padding-top: 9.5rem!important;
}
.jumbo_head{
    background-image: url(../img/jumbo_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item > div {
      display: none;
    }
    #featureContainer .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  #featureContainer .carousel-inner .carousel-item.active,
  #featureContainer .carousel-inner .carousel-item-next,
  #featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
  }
  @media (min-width: 768px) {
    
    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    #featureContainer .carousel-inner .carousel-item-start.active, 
    #featureContainer .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
    #featureContainer .card img{
      width: 90%;
      height: 40vh;
    }
    #featureContainer .carousel-item{
      justify-content: space-between;
    }
  }
  @media (max-width: 767px) {
    #featureContainer .card img{
      width: 100%;
      height: 75vh;
    }
  }
  #featureContainer .carousel-inner .carousel-item-end,
  #featureContainer .carousel-inner .carousel-item-start { 
    transform: translateX(0);
  }
  #featureContainer .card{
    border: 0;
  }
  #featureContainer .card{
    position: relative;
  }
  #featureContainer .card .card-img-overlays{
    position: absolute;
    bottom: 15%;
    left: 10%;
  }
  #featureContainer a{
    text-decoration: none;
  }
  /* #featureContainer .indicator{
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
  }
  #featureContainer .indicator:hover{
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
  }
  #featureContainer .indicator:hover{
    color: white;
    transition: 200ms;
  }
  #featureContainer .indicator {
    color: lightgray;
  } */
  #featureContainer .float-end{
    padding-top: 10px;
  }
  .big-title{
    font-size: 80px;
    font-weight: 700;
    color: rgba(191, 191, 191, 0.3);
  }
  .d-tag{
    font-size: 24px;
    font-weight: 600;
  }
  .tag-black{
    color: #000;
  }
  .tag-red{
    color: #99090a;
  }

  .bg-img{
    background-image: url('../img/08.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 50% -57.1328px;
    padding: 100px 0;
    background-attachment: fixed;
  }
  .overlay-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.bg-black{
    background-color: #000;
}
.some-facts {
    position: relative;
    padding: 60px 30px 60px 50px;
    border: 15px solid #fff;
    border-right: 0;
}
.some-facts:after, .some-facts:before {
    content: "";
    position: absolute;
    background-color: #fff;
    right: -15px;
    width: 15px;
    height: 140px;
}
.some-facts:before {
    top: -15px;
}
.some-facts:after {
    bottom: -15px;
}
.widget-title {
    margin-bottom: 20px;
}
.text-yellow {
    color: #d5dd02;
}
.wt-icon-box-wraper {
    position: relative;
}
.icon-content {
    overflow: hidden;
}
.clearfix::after, .filter-wrap::after, .wt-icon-box-wraper::after, ol.commentlist li::after {
    content: "";
    display: table;
    clear: both;
}
.wt-separator {
    display: inline-block;
    height: 3px;
    width: 50px;
    position: relative;
}
.wt-separator-outer {
    overflow: hidden;
}
.m-b20 {
    margin-bottom: 20px;
}
.font-40 {
    font-size: 40px;
    line-height: 46px;
}
.font-30{
    font-size: 30px;
    font-weight: 400;
}
.font-20{
    font-size: 20px;
    font-weight: 400;
}
.font-weight-600{
    font-weight: 600;
}
.testimonial{
    background-image: url(../img/ptn-1.webp);
    background-repeat: repeat;
    padding: 100px 0;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
.testimonial-6 {
    padding: 4px 4px 4px 4px;
}
.testimonial-6 .testimonial-text, .testimonial-grid-6 .testimonial-text {
    padding: 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 5px rgb(0,0,0,.1);
    box-shadow: 3px 3px 5px 0 rgb(0,0,0,.1);
}
.testimonial-6 .testimonial-name, .testimonial-6 .testimonial-position, .testimonial-grid-6 .testimonial-name, .testimonial-grid-6 .testimonial-position {
    display: block;
}
.testimonial-6 .testimonial-position{
    font-size: 12px;
}
.testimonial-6 .fa-quote-left, .testimonial-grid-6 .fa-quote-left {
    font-size: 24px;
}
.testimonial-6 .testimonial-name, .testimonial-grid-6 .testimonial-name {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
}
.p-t15{
    padding-top: 15px;
}
.pricing-table-style-4 .pricingtable-inner {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.bg-gray {
    background-color: #f6f7f8;
}
.pricing-table-style-4 .pricingtable-inner-overlay {
    position: relative;
    z-index: 1;
}
.bg-price-bloc{
    background-repeat: no-repeat;
    background-image: url(../img/02.jpg);
    background-size: 100% 100%;
}
.pricing-table-style-4 .pricingtable-title {
    background-color: inherit;
    color: #fff;
    padding: 20px 0 0 0;
    text-transform: uppercase;
}
.pricing-table-style-4 .pricingtable-title a{
    text-decoration: none;
}
.pricing-table-style-4 .pricingtable-title * {
    color: #fff;
}
.pricing-table-style-4 .pricingtable-price {
    padding: 10px 10px;
    background-color: inherit;
}
.pricing-table-style-4 .pricingtable-inner-overlay .overlay-main {
    z-index: -1;
}
.opacity-07 {
    opacity: .7;
}
.pricingtable-features {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e9e9e9;
}
.pricing-table-style-4 .pricingtable-features {
    border: none;
    padding-top: 20px;
}
.pricingtable-features li {
    padding: 12px;
    border-bottom: 1px solid #e9e9e9;
}
.pricing-table-style-4 .pricingtable-features li {
    border-bottom: 0;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-50{
    padding-top: 100px;
    padding-bottom: 100px;
}
.cursor-drag{
    cursor:grab;
}
#carousel-b img{
    width: 100%;
    height: 400px!important;
    object-fit: cover;
    object-position: center;
}
#carousel-g img{
    width: 100%;
    height: 700px!important;
    object-fit: cover;
    object-position: center;
}
#carousel-g .owl-nav{
    text-align: center;
    margin-top: 20px;
}
#carousel-h img{
    width: 100%;
    height: 700px!important;
    object-fit: cover;
    object-position: center;
}
#carousel-h .owl-nav{
    text-align: center;
    margin-top: 20px;
}
.vid{
    border-radius: 10px;
}
.wd-100{
    width: 100%;
}
.mid-title-o{
    font-size: 30px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.sm-title-o{
    font-size: 18px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 20px;
}

footer{
    background-position: center;
    background-size: cover;
    border-top: 1px solid #dadada;
}
.footer-top{
    background-color: #eee;
    padding: 50px 0 10px 0;
}
.footer-large .footer-bottom {
    padding: 20px 0;
    color: #787878;
    font-size: 13px;
    background-color: #f6f7f8;
}
.widget_tag_cloud a {
    padding: 8px 14px;
    background-color: #f6f7f8;
    font-size: 12px;
    display: inline-flex;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.widget_tag_cloud a:hover {
    background-color: #000;
    color: #fff;
}
.widget ul {
    list-style: none;
    margin-top: 5px;
}
.widget_services ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.widget_services ul li {
    padding-bottom: 18px;
    margin-bottom: 13px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    padding: 10px 10px 10px 15px;
    margin-bottom: 0;
    line-height: 20px;
}
.widget_services ul li {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
}
.widget_services.inline-links li {
    display: inline-block;
    border-bottom: none;
    margin-right: 20px;
}
.widget_services ul li:before {
    content: "\f101";
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    font-family: FontAwesome;
}
.widget_services ul li a {
    color: #000;
    text-decoration: none;
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: 0;
}
.list{
    margin: 0;
    padding: 10px;
}
.list li{
    list-style: disc;
}
.box{
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}
.box .list li{
    color: #7f8082;
    line-height: 24px;
    font-size: 14px;
}
.box p{
    color: #7f8082;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.my-float {
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    z-index: 100;
}
.pos-rel{
    position: relative;
}
.pos-end{
    position: absolute;
    top: 20px;
    right: 20px;
}
.list-img{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-img li{
    padding: 10px;
}
.list-img li .inner{
    position: relative;
}
.list-img li img {
    width: 100%;
    height: 300px!important;
    object-fit: cover;
    border-radius: 6px;
    object-position: center;
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.2);
}
.list-img li .caption{
    position: absolute;
    padding: 10px;
    background: rgb(0,0,0,.85);
    color: #fff;
    border-radius: 0 0 6px 6px;
    bottom: 0; left: 0; width: 100%;
}
/* For Chrome and Safari  */
          
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox  */
  
input[type="number"] {
    -moz-appearance: textfield;
}

.sticky-note{
    background: #ffc107;
    border: 11px solid rgba(0, 0, 0, 0.15);
    width: 60%;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    position: fixed;
    padding: 20px 25px;
    bottom: 20px;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .big-title {
        font-size: 40px;
        font-weight: 700;
        color: rgba(191, 191, 191, 0.4);
    }
    .some-facts:after, .some-facts:before{
        right: 0;
    }
    .sticky-note{
        width: 100%;
        position: relative;
        padding: 20px 25px;
    }
}